@model Project.Models.Bill;

<form>
	<div class="row">
		<div class="col">
				<div class="form-group">
					<label asp-for="CustomerName" class="control-label"></label>
					<input asp-for="CustomerName" class="form-control" />
				</div>
		</div>
	</div>
</form>